language: cpp
before_script:
  - mkdir build
  - cd build
  - cmake ..
script:
  - make -j
  - make test
compiler:
  - clang
  - gcc
env:
  global:
    - CTEST_OUTPUT_ON_FAILURE=1
  jobs:
    - CXXFLAGS=-std=c++11
    - CXXFLAGS=-std=c++14
    - CXXFLAGS=-std=c++17
    - CXXFLAGS=-std=c++2a
arch:
  - amd64
  - ppc64le
os:
  - linux
  - osx
jobs:
  allow_failures:
    compiler: gcc
    env: CXXFLAGS=-std=c++2a
  include:
    - name: Address Sanitizer
      compiler: clang
      env:
        - CXXFLAGS="-fsanitize=address -static-libasan -fno-omit-frame-pointer -O1"
        - RUN_HAVE_STD_REGEX=0
